form {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(233, 213, 147);
}

#email,
#username {
    width: 200px;
    padding: 1rem;
}

label {

    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

#sub,
#btn {

    padding: 1rem;
    border: none;
    margin: .7rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    background-color: #e9daab;
}

#sub:hover,
#btn:hover {

    background-color: #c2ad70;
    color: #fff
}

#unameerror, #emailerror {
    margin: .3rem;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}

p {

    width: 100%;
    margin-top: 9rem;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;


}