#container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(135, 240, 140);
}

label {

    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

#currency {
    width: 200px;
    padding: 1rem;
}
#currencybtn {

    padding: 1rem;
    border: none;
    margin: 2rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    background-color: #68b14b;
    color: #fff;
    letter-spacing: .2rem;

}

.output {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;


}

#currencybtn:hover {

    background-color: #3e8a20;
}