* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ebe9e9
}

h2 {
    margin-top: 2rem;
    text-align: center;
    font-size: 3.5rem;
    font-family: 'poppins';
    color: #418988;
}

#container {
    width: 75%;
    height: 70vh;
    margin: 2rem auto;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5dee8;
}

#input {
    width: 900px;
    height: 60vh;
    text-align: center;
}

input {
    width: 150px;
    padding: 1rem;
    font-family: "poppins";
    letter-spacing: 2px;
    font-size: 1.2rem;
    border: 0;
}

#btn,
#reset {
    width: 150px;
    padding: 1rem;
    margin: 1rem;
    font-family: 'poppins';
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    background-color: #479b46;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}

#btn:hover,
#reset:hover {
    background-color: #48ba6c;
}

#output {
    height: 75px;
    margin-top: 30px;
    padding: 2rem;
    background-color: #d8eff7;
    font-family: "poppins";
    font-size: 1.5rem;
    text-align: center;

}

.countby {
    height: 75px;
    padding: 2rem;
    font-size: 3rem;
    color: #3c729a;
}

.countdisplay {
    display: block;
    text-align: center;
    font-size: 3rem;
    color: #546c8b;
}

#countupdate {
    margin-top: 1.5rem;
    font-family: "poppins";
    font-size: 2rem;
    color: #669982;
    font-weight: bold;
}